[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FuzzyStatTra"]
	path = FuzzyStatTra
	url = https://github.com/cran/FuzzyStatTra
[submodule "SAFD"]
	path = SAFD
	url = https://github.com/cran/SAFD
